* {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap");
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 70px 1fr 50px;
  width: 100vw;
  height: 100vh;
  background-color: #f6efee;
  font-family: "Domine", serif;
}
.header {
  grid-area: header;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px 0px 55px;
}
.main {
  background-color: aqua;
}
.footer {
  grid-area: footer;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5px;
  padding: 10px;
  font-size: 20px;
}
.openweathermap-icon {
  max-width: 100px;
  height: auto;
}
#convert-units-btn {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  background-color: var(--green);
  color: var(--light);
  border: 0;
  border-radius: 50%;
  outline: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  width: 1em;
  height: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.github-logo {
  width: 20px;
  height: 20px;
  transition: all 300ms linear;
  border-radius: 50%;
  box-shadow: 0px 0px 5px beige;
  cursor: pointer;
  color: orange;
  /* filter: invert(73%) sepia(81%) saturate(870%) hue-rotate(357deg)
    brightness(95%) contrast(93%); */
}
.github-logo:hover {
  transform: rotate(360deg) scale(1.3);
  box-shadow: 0px 0px 5px blue;
}
