* {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap");
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 70px 1fr 50px;
  width: 100vw;
  height: 100vh;
  background-color: #f6efee;
  font-family: "Domine", serif;
}
.header {
  grid-area: header;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px 0px 55px;
}
.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 15px;
}
.footer {
  grid-area: footer;
  background-color: #0b090a;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5px;
  padding: 10px;
  font-size: 20px;
}
.openweathermap-icon {
  max-width: 100px;
  height: auto;
}
.convert-units-btn {
  background-color: grey;
  color: wheat;
  border: 0;
  border-radius: 50%;
  outline: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  width: 1em;
  height: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.convert-units-btn:hover {
  background-color: tomato;
}
.main-screen {
  display: none;
}
.main-screen.active {
  display: block;
}
.forecast-screen {
  display: none;
}
.forecast-screen.active {
  display: block;
}
.main-h3 {
  font-size: 3em;
  margin-top: -1em;
  text-align: center;
}
.search-input {
  flex: 1;
  justify-self: center;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid darkgoldenrod;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
  transition: border 0.3s ease;
}
.search-input:focus {
  border-bottom: 2px solid green;
}

.search-btn,
.return-btn {
  background-color: #eb6e4b;
  color: black;
  border: 0;
  border-radius: 50%;
  outline: 0;
  font-size: 1.8em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter 0.3s ease;
  display: none;
}
.search-btn.active,
.return-btn.active {
  display: block;
}
.search-btn:hover,
.return-btn:hover {
  background-color: darksalmon;
}
.search-btn:active,
.return-btn:active {
  transform: scale(1.1);
}
.search-icon {
  transform: scale(0.6);
}
.weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-div {
  display: flex;
  align-items: center;
}
.current-weather-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: snow;
  position: relative;
}
.current-weather-date-container {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}
.current-weather-location {
  display: flex;
  gap: 5px;
  font-size: 4rem;
}
.current-weather-country {
  display: flex;
  align-items: flex-end;
  border-left: 2px solid white;
  padding-left: 5px;
  font-size: 2rem;
}
.current-weather-gif-container {
  width: 40%;
  min-width: 285px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-weather-desc {
  position: absolute;
  bottom: 10%;
  text-align: center;
  font-size: 1.5rem;
}

.weather-details {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.weather-details-icon {
  width: 4rem;
  margin-right: 1rem;
}
.weather-details-label {
  font-size: 1.4rem;
}
.weather-details-data {
  font-size: 2rem;
  font-weight: 600;
}
.daily-forecast {
  display: flex;
  flex-wrap: wrap;
}
.forecast-content {
  width: 300px;
  height: 260px;

  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.date {
  font-size: 1.8em;
}
.weather-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 170px;
  position: relative;
  justify-content: flex-end;
}
.forecast-weather-desc {
  position: absolute;
  bottom: 20%;
}
.summary-item {
  display: flex;
  gap: 5px;
  font-size: 1.5em;
  margin-top: -20%;
}
.forecast-L {
  border-left: 3px solid;
  padding-left: 6px;
}
.github-logo {
  width: 20px;
  height: 20px;
  transition: all 300ms linear;
  border-radius: 50%;
  box-shadow: 0px 0px 5px beige;
  cursor: pointer;
  color: orange;
  /* filter: invert(73%) sepia(81%) saturate(870%) hue-rotate(357deg)
    brightness(95%) contrast(93%); */
}
.github-logo:hover {
  transform: rotate(360deg) scale(1.3);
  box-shadow: 0px 0px 5px blue;
}

/* Toggle Button */
.toggleButton {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #bf0603;
  border: 1px solid #bf0603;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  bottom: 0;
  right: 0;
  display: none;
}
.toggleButton:focus {
  outline: none;
}
.toggleButton::before {
  content: "C F";
  position: absolute;
  left: 0px;
  top: -3px;
  width: 40px;
  height: 15px;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.toggleButton::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 0.5px;
  width: 17px;
  height: 17px;
  background-color: #ffd9e0;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #b7efc5;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggleButton:checked {
  background-color: #008000;
  border: 1px solid #008000;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
